<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="searchBar">
        <form name="search" method="post">
          <span >BURGER</span>
          <input type="text" name="searchText"/>
          <input type="submit" name="searchButton"/>
        </form> 
      </div>
      <div class="menuBar backgroundSaffron">
        <a href="/admin/home">
          <div class="menu"><img src="/images/home.png" class="icon"></img></div>
        </a>
        <div class="menu">
          <span>About us</span>
        </div>
        <div class="menu"><span>Contact us</span></div>
        <div class="menu"><span>Policies</span></div>
        <a href="/user/login"><div class="menu floatRight">ADMIN Log out</div></a>
        <a href="/admin/addItem"><div class="menu floatRight">Add Item</div></a>
        <a href="/admin/allItems"><div class="menu floatRight">View all Items</div></a>
        <a href="/admin/allOrders"><div class="menu floatRight">View all Orders</div></a>
      </div>
      <div class>
        <div class="topOffer">
          <div class="itemTitle"><span>Today's top offers</span></div>
          <% for (var i = 0; i< tops.length; i++) {%>
          <div>
            <div class="itemHeight">
              <div class="leftFloat largeWidth">
                <a href="/admin/editItem/<%= tops[i].id%>">
                  <img src="/uploads/<%= tops[i].image%>"/>
                </a>  
                <div>
                  <span class="bold"><%= tops[i].name%></span><br>
                  <span><%= tops[i].description%></span><br>
                  <span><%= tops[i].offerDescription%></span><br>
                  <span><%= tops[i].actualCost%></span><br>
                  <span><%= tops[i].offerCost %></span>
                </div>
              </div>  
            </div> 
          </div>
          <% } %>
        </div>
        <div class="itemGrid">
          <div class="itemTitle">
            <span>Burgers</span>
          </div>
          <div class="grid">
          <% for (var i = 0; i< burgers.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <a href="/admin/editItem/<%= burgers[i].id%>">
                  <img src="/uploads/<%= burgers[i].image%>" onclick=""/>
                </a>
                <div>
                  <span class="bold"><%= burgers[i].name%></span><br>
                  <span><%= burgers[i].description%></span><br>
                  <span><%= burgers[i].offerDescription%></span><br>
                  <span>Cost :<%= burgers[i].actualCost%></span><br>
                  <span>Get it for :<%= burgers[i].offerCost %></span>
                </div>
              </div>
            </div>
          <% } %>
          </div>
          <div class="itemTitle">
            <span>Starters</span>
          </div>
          <div class="grid">
          <% for (i = 0; i< starters.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <a href="/admin/editItem/<%= starters[i].id%>">
                  <img src="/uploads/<%= starters[i].image%>"/>
                </a>
                <div>
                  <span class="bold"><%= starters[i].name%></span><br>
                  <span><%= starters[i].description%></span><br>
                  <span><%= starters[i].offerDescription%></span><br>
                  <span>Cost :<%= starters[i].actualCost%></span><br>
                  <span>Get it for :<%= starters[i].offerCost %></span>
                </div>
              </div>
            </div>
          <% } %>
          </div>
          <div class="itemTitle">
            <span>Drinks and Delights</span>
          </div>
          <div class="grid">
          <% for (i = 0; i< drinks.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <a href="/admin/editItem/<%= drinks[i].id%>">
                  <img src="/uploads/<%= drinks[i].image%>"/>
                </a>
                <div>
                  <span class="bold"><%= drinks[i].name%></span><br>
                  <span><%= drinks[i].description%></span><br>
                  <span><%= drinks[i].offerDescription%></span><br>
                  <span>Cost :<%= drinks[i].actualCost%></span><br>
                  <span>Get it for :<%= drinks[i].offerCost %></span>
                </div>
              </div>
            </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>