<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="searchBar">
        <span >BURGER</span>
        <input type="text"/>
        <i class="fa fa-search w3-xlarge"></i>
      </div>
      <div class="menuBar backgroundSaffron">
        <div class="menu"><img src="/images/home.png" class="icon"/></div>
        <div class="menu"><span>About us</span></div>
        <div class="menu"><span>Contact us</span></div>
        <div class="menu"><span>Policies</span></div>
        <div class="menu floatRight">ADMIN<a href="/user/login">Log out</a></div>
        <div class="menu floatRight"><a href="/admin/addItem">Add Item</a></div>
      </div>
      <div class="itemContainer">
        <div class="topOffer">
          <div class="itemTitle"><span>Today's top offers</span></div>
          <div>
            <div class="itemHeight">
              <div class="leftFloat largeWidth">
                <img src="/images/logo.png"/>
                <div>
                  <span>Item description</span>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="itemGrid">
          <div class="itemTitle">
            <span>Burgers</span>
          </div>
          <div class="grid">
          <% for (var i = 0; i< burgers.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <a href="/user/description/<%= burgers[i].id%>">
                  <img src="/uploads/<%= burgers[i].image%>" onclick=""/>
                </a>
                <div>
                  <span><%= burgers[i].name + "\n" + burgers[i].description + "\n" + burgers[i].actualCost + "\n" + burgers[i].offerCost %></span>
                </div>
              </div>
            </div>
          <% } %>
          </div>
          <div class="itemTitle">
            <span>Starters</span>
          </div>
          <div class="grid">
          <% for (i = 0; i< starters.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <a href="/user/descripton">
                  <img src="/images/logo.png"/>
                </a>
                <div>
                  <span><%= starters[i].name + "/n" + starters[i].description + "/n" + starters[i].actualCost + starters[i].offerCost %></span>
                </div>
              </div>
            </div>
          <% } %>
          </div>
          <div class="itemTitle">
            <span>Drinks and Delights</span>
          </div>
          <div class="grid">
          <% for (i = 0; i< drinks.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <img src="/images/logo.png"/>
                <div>
                  <span><%= drinks[i].name + "\n" + drinks[i].description + "\n" + drinks[i].actualcost + "\n" + drinks[i].offercost%> </span>
                </div>
              </div>
            </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>