<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <div class="homeWrapper">
      <% include menubar %>
      <div class="list">
        <div class="itemHeight">
          <div class="leftFloat largeWidth">
            <img src="/uploads/<%= result.image%>"/>
            <div>
              <span><%= result.name %><br></span>
              <span><%= result.description %><br></span>
              <span><%= result.offerDescription %></span>
            </div>
          </div>
          <div class="floatRight">
            <span>Cost : <%= result.actualCost%><br></span> 
            <span>Get it for : <%= result.offerCost%></span>
            <div>
              <form method="post">
                <input type="number" name="number" value="1"/>
                <input type="submit" class="button" value="Add to Cart"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>