<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="searchBar">
        <form name="search" method="post">
          <span >BURGER</span>
          <input type="text" name="searchText"/>
          <input type="submit" name="searchButton"/>
        </form> 
      </div>
      <div class="menuBar backgroundSaffron">
        <a href="/user/home">
          <div class="menu"><img src="/images/home.png" class="icon"></img></div>
        </a>
        <div class="menu">
          <span>About us</span>
        </div>
        <div class="menu"><span>Contact us</span></div>
        <div class="menu"><span>Policies</span></div>
        <div class="menu floatRight">
          <a href="/user/orderSummary">
            <img src="/images/shopping-cart.png" class="icon"></img>
          </a>
        </div>
        <a href="/user/signup">
          <div class="menu floatRight">Signup</div>
        </a>
        <div class="menu floatRight"><%= user%><a href="/user/login"><%= logout%></a></div>
      </div>
      <div class="itemContainer">
        <div class="topOffer">
          <div class="itemTitle"><span>Today's top offers</span></div>
          <div>
            <div class="itemHeight">
              <div class="leftFloat largeWidth">
                <img src="/images/logo.png"/>
                <div>
                  <span>Item description</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="itemGrid">
          <div class="itemTitle">
            <span>Burgers</span>
          </div>
          <div class="grid">
          <% for (var i = 0; i< burgers.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <a href="/user/description/<%= burgers[i].id%>">
                  <img src="/uploads/<%= burgers[i].image%>" onclick=""/>
                </a>
                <div>
                  <span><%= burgers[i].name + "\n" + burgers[i].description + "\n" + burgers[i].actualCost + "\n" + burgers[i].offerCost %></span>
                </div>
              </div>
            </div>
          <% } %>
          </div>
          <div class="itemTitle">
            <span>Starters</span>
          </div>
          <div class="grid">
          <% for (i = 0; i< starters.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <a href="/user/descripton">
                  <img src="/uploads/<%= starters[i].image%>"/>
                </a>
                <div>
                  <span><%= starters[i].name + "/n" + starters[i].description + "/n" + starters[i].actualCost + starters[i].offerCost %></span>
                </div>
              </div>
            </div>
          <% } %>
          </div>
          <div class="itemTitle">
            <span>Drinks and Delights</span>
          </div>
          <div class="grid">
          <% for (i = 0; i< drinks.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <img src="/uploads/<%= drinks[i].image%>"/>
                <div>
                  <span><%= drinks[i].name + "\n" + drinks[i].description + "\n" + drinks[i].actualCost + "\n" + drinks[i].offerCost%> </span>
                </div>
              </div>
            </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>