<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="searchBar">
        <span >BURGER</span>
        <input type="text" name="searchText"/>
        <a href="/user/search">
          <i class="fa fa-search w3-xlarge"></i>
        </a> 
      </div>
      <div class="menuBar backgroundSaffron">
        <a href="/user/home">
          <div class="menu homeIcon">
            <i class="fa fa-home w3-xxlarge"></i>
          </div>
        </a>
        <div class="menu">
          <span>About us</span>
        </div>
        <div class="menu"><span>Contact us</span></div>
        <div class="menu"><span>Policies</span></div>
        <a href="/user/orderSummary">
          <div class="menu floatRight"><i class="fa fa-shopping-cart w3-xlarge"></i></div>
        </a>
        <a href="/user/signup">
          <div class="menu floatRight">Signup</div>
        </a>
        <div class="menu floatRight"><%= user%><a href="/user/login"><%= logout%></a></div>
      </div>
      <div class="itemContainer">
        <div class="topOffer">
          <div class="itemTitle"><span>Today's top offers</span></div>
          <div>
            <div class="itemHeight">
              <div class="leftFloat largeWidth">
                <img src="/images/logo.png"/>
                <div>
                  <span>Item description</span>
                </div>
              </div>
              <div class="leftFloat smallWidth">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="itemGrid">
          <div class="itemTitle">
            <span>Burgers</span>
          </div>
          <div class="grid">
          <% for (i = 0; i< burgers.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <img src="/uploads/<%= burgers[i].image%>"/>
                <div>
                  <span><%= burgers[i].name + "\n" + burgers[i].description + "\n" + burgers[i].actualCost + "\n" + burgers[i].offerCost %></span>
                </div>
              </div>
              <div class="leftFloat smallWidth">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          <% } %>
          </div>
          <div class="itemTitle">
            <span>Starters</span>
          </div>
          <div class="grid">
          <% for (i = 0; i< starters.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <img src="/images/logo.png"/>
                <div>
                  <span><%= starters[i].name + "/n" + starters[i].description + "/n" + starters[i].actualCost + starters[i].offerCost %></span>
                </div>
              </div>
              <div class="leftFloat smallWidth">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          <% } %>
          </div>
          <div class="itemTitle">
            <span>Drinks and Delights</span>
          </div>
          <div class="grid">
          <% for (i = 0; i< drinks.length; i++) {%>
            <div class="itemHeight leftFloat">
              <div class="leftFloat largeWidth">
                <img src="/images/logo.png"/>
                <div>
                  <span><%= drinks[i].name + "\n" + drinks[i].description + "\n" + drinks[i].actualcost + "\n" + drinks[i].offercost%></span>
                </div>
              </div>
              <div class="leftFloat smallWidth">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>