<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="menuBar backgroundSaffron">
        <a href="/user/home">
          <div class="menu"><img src="/images/home.png" class="icon"></img></div>
        </a>
        <div class="menu">
          <span>About us</span>
        </div>
        <div class="menu"><span>Contact us</span></div>
        <div class="menu"><span>Policies</span></div>
        <div class="menu floatRight">
          <a href="/user/orderSummary">
            <img src="/images/shopping-cart.png" class="icon"></img>
          </a>
        </div>
        <a href="/user/signup">
          <div class="menu floatRight">Signup</div>
        </a>
        <div class="menu floatRight"><%= user%><a href="/user/login"><%= logout%></a></div>
      </div>
      <div class="list">
        <% for (var i = 0; i< results.length; i++) {%>
          <div class="itemHeight">
            <div class="leftFloat largeWidth">
              <img src="/uploads/<%= results[i].image%>"/>
              <div>
                <span><%= results[i].name%><br><%=results[i].description%><br><%results[i].offerDescription %></span>
              </div>
            </div>
            <div class="floatRight padding20">
              <div>
                <span> Cost </span>
              </div>
              <div>
                <span><%= cost[i]%></span>
              </div>
            </div>
            <div class="floatRight padding20">
              <div>
                <span>Numbers</span>
              </div>
              <div>
                <span><%= number[i]%></span>
              </div>
            </div>
            <div class="floatRight padding20">
              <div>
                <span>Rate :<%= results[i].actualCost%></span>
              </div>
              <div>
                <span>With offer : <%= results[i].offerCost%></span>
              </div>
            </div>
          </div>
        <% } %>
        <div class="itemHeight centerAllign">
          <div>
            <span>Total</span>
          </div>
          <div>
            <span><%= total%></span>
          </div>
          <div>
            <form name="checkOut" method="post">
              <input type="submit" value="Check out"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>