<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="searchBar">
        <form name="search" method="post">
          <span >BURGER</span>
          <input type="text" name="searchText" />
          <input type="submit" name="searchButton"/>
        </form>
      </div>
      <div class="menuBar backgroundSaffron">
        <a href="/user/home">
          <div class="menu">
            <img src="/images/home.png" class="icon"></img>
          </div>
        </a>
        <div class="menu">
          <span>About us</span>
        </div>
        <div class="menu">
          <span>Contact us</span>
        </div>
        <div class="menu">
          <span>Policies</span>
        </div>
        <a href="/user/orderSummary">
          <div class="menu floatRight">
            <img src="/images/shopping-cart.png" class="icon"></img>
          </div>
        </a>
        <div class="menu floatRight"><a href="/user/signup">Signup</a></div>
        <div class="menu floatRight"><%= user%><a href="/user/login"><%= logout%></a></div>
      </div>
      <div class="list">
        <% for (var i = 0; i< results.length; i++) {%>
          <div class="itemHeight">
            <div class="leftFloat largeWidth">
              <img src="/uploads/<%= results[i].image%>"/>
              <div>
                <span><%= results[i].name%><br><%=results[i].description%><br><%results[i].offerDescription %></span>
              </div>
            </div>
            <div class="floatRight">
              <span><%= results[i].actualCost%><br> reduced as <%= results[i].offerCost%></span>
            </div>
          </div>
        <% } %>
      </div>
      </div>
    </div>
  </body>
</html>