<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="searchBar">
        <form name="search" method="post">
          <span >BURGER</span>
          <input type="text" name="searchText"/>
          <input type="submit" name="searchButton" class="button" value="Search"/>
        </form>
      </div>
      <div class="menuBar backgroundSaffron">
        <% include menubar %>
      </div>
      <div class="list">
        <% for (var i = 0; i< results.length; i++) {%>
          <div class="itemHeight">
            <div class="leftFloat largeWidth">
              <img src="/uploads/<%= results[i].image%>"/>
              <div>
                <span><%= results[i].name%><br><%=results[i].description%><br><%results[i].offerDescription %></span>
              </div>
            </div>
            <div class="floatRight">
              <span>Cost : <%= results[i].actualCost%></span><br>
              <span>Get it for : <%= results[i].offerCost%></span>
            </div>
          </div>
        <% } %>
      </div>
      </div>
    </div>
  </body>
</html>