<html>
  <head>
    <title>
      Burger
    </title>
    <link href="/images/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="searchBar">
        <form name="search" method="post" action="/user/search">
        <span >BURGER</span>
        <input type="text"/>
        <input type="submit" name="searchButton">
          <i class="fa fa-search w3-xlarge"></i>
        </input>
        </form>
      </div>
      <div class="menuBar backgroundSaffron">
        <a href="/user/home">
          <div class="menu homeIcon">
            <i class="fa fa-home w3-xxlarge"></i>
          </div>
        </a>
        <div class="menu">
          <span>About us</span>
        </div>
        <div class="menu"><span>Contact us</span></div>
        <div class="menu"><span>Policies</span></div>
        <a href="/user/orderSummary">
          <div class="menu floatRight"><i class="fa fa-shopping-cart w3-xlarge"></i></div>
        </a>
        <a href="/user/signup">
          <div class="menu floatRight">Signup</div>
        </a>
        <div class="menu floatRight"><%= user%><a href="/user/login"><%= logout%></a></div>
        <div class="fullHeight">
          <% for (i = 0; i< results.length; i++) {%>
          <div class="itemHeight">
            <div class="leftFloat largeWidth">
              <img src="/uploads/<%= results[i].image"/>
              <div>
                <span><%= results[i].name + "\n" + results[i].description% + "\n" + results[i].offerDescription></span>
              </div>
            </div>
            <div class="rightFloat">
              <span><%= results[i].actualCost + "\n" + results[i].offerCost%></span>
              <input type="button" name="remove" value="remove" class="submitButton loginButton"/>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>